<!DOCTYPE html>
<html>
    <head>
        <title>
            About Page
        </title>
        <link href="style.css" style="text/css" rel="stylesheet"/>
    </head>
    <body>

        <div class="left">
           <h1 class="heading">Qtree Technology</h1>
           <p class="content">Have you completed your higher studies and wishing to set your foot mark in the best organization that pays you more? Then add an advantage course to your profile, this will not just add value but get you your dream career of your interest. Qtree Technologies is recognized to be the best java course center in Coimbatore. We have experts and professionals to assist aspirants in achieving their goals. Our best java course center in Coimbatore covers almost every concept associated with Java and make you strong in your core, this will get you more career opportunities of your desire.</p>
        </div>
        <div class="right">
            Test 2
        </div>

        <div class="left">
            <h1 class="heading">Qtree Technology</h1>
            <p class="content">Have you completed your higher studies and wishing to set your foot mark in the best organization that pays you more? Then add an advantage course to your profile, this will not just add value but get you your dream career of your interest. Qtree Technologies is recognized to be the best java course center in Coimbatore. We have experts and professionals to assist aspirants in achieving their goals. Our best java course center in Coimbatore covers almost every concept associated with Java and make you strong in your core, this will get you more career opportunities of your desire.</p>
         </div>
         <div class="right">
             Test 2
         </div>

         <div class="left">
            <h1 class="heading">Qtree Technology</h1>
            <p class="content">Have you completed your higher studies and wishing to set your foot mark in the best organization that pays you more? Then add an advantage course to your profile, this will not just add value but get you your dream career of your interest. Qtree Technologies is recognized to be the best java course center in Coimbatore. We have experts and professionals to assist aspirants in achieving their goals. Our best java course center in Coimbatore covers almost every concept associated with Java and make you strong in your core, this will get you more career opportunities of your desire.</p>
         </div>
         <div class="right">
             Test 2
         </div>
        
    </body>
</html>